<kd-card role="table" [initialized]="initialized">
  <div title
       fxLayout="row"
       i18n>Metrics</div>
  <div actions style="display: flex">
  </div>
	<div content >
		<div style="display: flex;">
			<div style="flex: 1;"><kd-line yAxisLabel="TPS (Req/s)" [dataSource]="getArrayData(tpsData)" [height]="370" [width]="370"></kd-line></div>
			<div style="flex: 1;"><kd-line yAxisLabel="ErrorRate (Req/s)" [dataSource]="getArrayData(erData)" [height]="370" [width]="370"></kd-line></div>
			<div style="flex: 1;"><kd-line yAxisLabel="Latency (ms)" [dataSource]="getArrayData(latencyData)" [height]="370" [width]="370"></kd-line></div>
			<!-- <div style="flex: 1;"><kd-line [height]="370" [width]="370"></kd-line></div> -->
			<!-- <div style="flex: 1;"><kd-line [height]="370" [width]="370"></kd-line></div> -->
		</div>
		
  </div>
</kd-card>
