<kd-card role="table" [initialized]="initialized" >
  <div title
       fxLayout="row"
       i18n>Metrics</div>
  <div actions style="display: flex">
  </div>
	<div content >
		<div style="display: flex;width: 100%;">
			<div style="flex: 1;"><kd-line yAxisLabel="TPS (Req/s)" [dataSource]="getArrayData(tpsData)" [height]="300" [width]="420"></kd-line></div>
			<div style="flex: 1;"><kd-line scheme="cool" yAxisLabel="ErrorRate (Req/s)" [dataSource]="getArrayData(erData)" [height]="300" [width]="420"></kd-line></div>
			<div style="flex: 1;"><kd-line scheme="cool" yAxisLabel="Latency (ms)" [dataSource]="getArrayData(latencyData)" [height]="300" [width]="420"></kd-line></div>
		</div>
  </div>
</kd-card>
