<div class="line-chart-root">
<ngx-charts-line-chart
	class="line-chart"
  [view]="[width,height]"
  [legend]="legend"
	[legendTitle]="''"
	[autoScale]="true"
	[legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
	[scheme]="scheme"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="dataSource"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>
</div>